.ui-combobox {
  display:inline-block;
  position:relative;
  line-height:normal;
  user-select:none;
  text-align:left;
  color:#88a6b6;
}
.ui-combobox:after, .ui-combobox.ui-combobox-filter:before {
  font-family:"ico";
  speak:none;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  text-transform:none;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  cursor:pointer;
  position:absolute;
  line-height:0;
  z-index:10;
  top:50%;
}
.ui-combobox:after {
  content:"\e60a";
  font-size:2.2em;
  right:.3em;

  /*falback*/
  content:"▼";
  font-size:1em;
  right:.6em;
}
.ui-combobox.ui-combobox-filter:before {
  content:"\e611";
  font-size:1.4em;
  left:1em;
}
.ui-combobox > .ui-value[required]:empty {box-shadow:0 0 0 2px white; border-color:transparent; background:#7579ff}
.ui-combobox:hover {z-index:1000}
.ui-combobox:hover > .ui-value,
.ui-combobox:hover:before,
.ui-combobox:hover:after,
.ui-combobox > .ui-value[count]:not([multiple]):not([count=""]):not([count="0"]):not([count="1"]):before,
.ui-combobox > .ui-value:not(:empty) {color:#31a0e7;}
.ui-combobox > .ui-value[placeholder]:not([placeholder=""]):empty:before {
  content:attr(placeholder);
  font-size:inherit;
  color:inherit;
  position:static;
  line-height:inherit;
}
.ui-combobox > .ui-value[count]:not([multiple]):not([count=""]):not([count="0"]):not([count="1"]):before {
  content:attr(count-prefix) attr(count) attr(count-suffix);
  font-size:inherit;
  color:inherit;
  position:static;
  line-height:inherit;
}
.ui-combobox > .ui-value[count]:not([multiple]):not([count=""]):not([count="0"]):not([count="1"]) > * {
  display:none;
}
.ui-combobox > .ui-value > * {cursor:pointer;}
.ui-combobox > .ui-value {
  display:block;
  position:relative;
  cursor:pointer;
  padding:.93em 3.3em .93em 1.2em;
  border:1px solid #e4ebec;
  border-radius:.214em;
  color:white;
  background:#fff;
  z-index:5;
}
.ui-combobox.ui-combobox-filter > .ui-value {padding:.93em 3.3em .93em 3.6em;}
.ui-combobox:hover > .ui-value {box-shadow:0 0 0 2px #31a0e7; border-color:transparent;}
.ui-combobox > .ui-options {
  display:block;
  position:absolute;
  border:1px solid #e3e3e3;
  border-radius:.2857em;
  min-width:110%;
  background:#fff;
  padding:.4em 0;
  box-shadow:0 0 3px rgba(0,0,0,.15);
  margin-top:-.357em;
  left:50%;
  transform-origin:center bottom;
  perspective-origin:center bottom;
  transform:perspective(500px) translateX(-50%) translateY(-100%) rotateX(70deg);
  opacity:0;
  transition:all .3s, opacity .15s;
  pointer-events:none;
  white-space:nowrap;
}
.ui-combobox:hover > .ui-options {
  pointer-events:auto;
  transition:all .3s, opacity .4s;
  transform:translateX(-50%) translateY(0%);
  opacity:1;
  animation:ui-combobox-options .4s .2s linear both;
}
@keyframes ui-combobox-options {
  0% {margin-top:1em; z-index:1; }
  50% {margin-top:-.357em;}
  100% {margin-top:-.357em; z-index:10;}
}
.ui-combobox > .ui-options > * {
  display:block;
  cursor:pointer;
  position:relative;
  padding:.6em 3em .6em 1.0714em;
}
.ui-combobox > .ui-options > *:hover {background:#edf6fb;}
.ui-combobox > .ui-options > * > * {font-weight:normal; color:#737d85; font-size:.875em;}
.ui-combobox > .ui-options > * .ui-checkbox-after {
  position:absolute;
  right:1em;
}
.ui-combobox > .ui-value .ui-checkbox, .ui-combobox > .ui-value .ui-checkbox-after, .ui-combobox > .ui-value input {display:none}
.ui-combobox > .ui-options {
  max-height:15.625em;
  overflow:hidden;
}
.ui-combobox > .ui-options:hover {overflow:auto;}
.-webkit- .ui-combobox > .ui-options::-webkit-scrollbar {width:.625em; height:.625em;}
.-webkit- .ui-combobox > .ui-options::-webkit-scrollbar-thumb {
  border:.1875em solid transparent;
  border-radius:.3125em;
  background:rgba(0, 0, 0, 0);
  background-clip:padding-box;
}
.-webkit- .ui-combobox > .ui-options:hover::-webkit-scrollbar-thumb {
  border:.1875em solid transparent;
  background:rgba(0, 0, 0, .1);
  background-clip:padding-box;
}
.-webkit- .ui-combobox > .ui-options::-webkit-scrollbar-thumb:horizontal:hover,
.-webkit- .ui-combobox > .ui-options::-webkit-scrollbar-thumb:vertical:hover {background-color:rgba(0,0,0,.2)}
.-webkit- .ui-combobox > .ui-options::-webkit-scrollbar-thumb:horizontal:active,
.-webkit- .ui-combobox > .ui-options::-webkit-scrollbar-thumb:vertical:active{background-color:#31a0e7;}
.-webkit- .ui-combobox > .ui-options::-webkit-scrollbar-corner {background:transparent} 